/* default */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
/* CENTRATURA DIV */
/* CLASSI GENERALI */
.centro{
  width: 80%;
  margin: 0 auto;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clearfix::after{
  display: table;
  clear: both;
  content:""
}
.shadow{
 box-shadow: inset 0 2px 5px rgba(0,0,0,0.1)
}
/* REGOLE CONTAINER PREIMPO */
header{
width: 100%;
background-color: #f5f8fa;
}
.header .sup{
  height: 80px;
  line-height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.header .inf{
  /* margin-top: 80px; */
}

.bianco{
  background-color: white;

}
.nav{
  padding: 25px 0;
}
#lente{
  color: lightblue;
}
#eng{
border-right: 2px solid black;
padding-right: 20px;
}
.dx{
 margin-left: 20px;
}
ul{
  list-style: none;
}
.nav.dx ul li{
  display: inline;
}
li{
  font-size: 18px;
  margin: 0px 10px;
}
/* SELETTORI BTN */
.btn{
  text-decoration: none;
  border-radius: 5px;
  color: #394c60
}
.btn-orange{
 background-color: #ff7a59;
 color: white;
}
.btn-white{
color: #ff7a59;
border: 1px solid #ff7a59;
}
.btn-medium{
 padding: 10px;
}
.btn-large{
 padding: 20px 30px;
}
.btn-grey{
  color: #394c60;
}
.btn-learn{
 color: white;
 background-color: #ff7a59;
 padding: 20px 40px;
 margin-bottom: 30px;
}
.btn-footer{
 background-color: #cbd6e2;
 color: #2D3E50;
}
.jumbotron{
  background-image: url('../img/jumbotron.png');
  height: 670px;
  width: 100%;
  position: relative;

  background-position: right ; top:

}
.jumbotron-testo{
  width: 500px;
  margin-left: 10%;
}
/* WARNING */
.jumbotron-testo > *{
  margin-bottom: 25px;
}
h1{
  padding-top: 50px;
  color: #33475b;
  font-size: 50px;
}
.jumbotron .jumbotron-testo span{
  display: inline-block;
}
.bar{
  height: 72px;
  width: 100%;
  background-color: #afebe4;
  border-top: 4px solid #273a51;
  border-bottom: 4px solid #273a51;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.top{
  background-color: #f5f8fa;
}
.powerful{
margin: 0 auto;
width: 50%;
padding-top: 50px;
}
.cubo{
  height: 250px;
  transform: translate(+55% , -0%);
}
h2{
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.cubo p{
  text-transform: full-width;
}
.CRM{
  margin-top: 50px;
  background-color: white;
}
.CRM .box{
  padding: 60px 0px;
}
.box.sx{
  width: 15%;
  margin: 0% 10%;
}
.box.sx img{
  margin-bottom: 40px;
}
.box.dx{
  width: 55%;
  text-align: left;
}
.box.dx ul li{
  margin-left:  0px;
  padding-right: 20px;
  display: inline;
}
.box.dx i{
  font-size: 15px;
}
.check{
  color: #ff7a59;
  padding-right: 20px;
}
h3{
margin-bottom: 30px;
}
h4{
margin: 20px 0px;
text-transform: uppercase;
}
.libro{
  height: 100px;
  width: auto;
}
/* WARNING IMPORTANTE WARNING */
/* rimango sulla riga no spazio - cambio riga spazio */
.box.dx a{
 text-align: center;
}
.HUB{
  margin-top: 40px;
}
.mark{
  width: 30%;
  text-align: center;
  background-color: white;
  margin-bottom: 50px;
}
#cc{
  margin: 0px 5%;
}
.mark .inside{
  background-color: white;
  margin: 20px 20px;
}
.mark .inside img{
  height: 100px;
  width: auto;
}
.mark .inside h3{
  margin-top: 20px;
}
.mark .inside hr{
  margin-top: 50px;
  height: 3px;
  background-color: grey;
}
.mark .inside h4{
  margin: 35px 0px;
}
.mark .inside ul li {
  text-align: left;
}
.mark .inside ul li:last-child{
  margin-bottom: 60px;
}
.mark .inside p{
  line-height: 25px;
}

.mark .inside a{
  margin-bottom: : 30px;
  display: inline-block;
}
/* / section top */
/* section middle */
.middle{
  background-image: linear-gradient( to right, #00AAB7, #00B9A9);
  color: white;
  text-align: center;
  padding-top: 50px;
}
.middle h3{
  font-size: 35px;
}
.middle .community p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.middle .community img{
  margin-top: 10px;
}
.middle .community h5{
  margin: 5px 0;
}
.middle .up-row{
 margin-top: 50px;
}
.middle .down-row{
 padding-bottom: 90px;
}
.middle .box{
  width: calc(100% / 4);
  border-color: 2px solid black;
  text-align: center;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.up-row .box:last-child{
  border-right: 0px;
}
.down-row .box:last-child{
  border-right: 0px;
}
.down-row .box{
  border-bottom: 0px;
}
.box h5{
 font-size: 45px;
}
#app{
  height: 40px;
  width: auto;
}
/* /MIDDLE */
/* BOTTOM */
.bottom{
  /* TOGLIERE ALTEZZA */
  height: 230px;
  background-color: white;
}
.bottom .up{
  margin-top: 50px;
}
.customer{
  text-align: left;
  width: 15%;
  margin: 0 15%;
}
.customer h5{
  font-size: 60px;
  margin-bottom: 30px;
}
.customer p{
  line-height: 25px;
  font-size: 20px;
}
.sponsor.dx li{
 display: inline;
}
.sponsor.dx img{
  width: 120px;
  vertical-align: middle;
}
.side-left,.side-right{
  padding: 10px;
}
.bottom .down {
  margin-top: 40px;
}
.start{
  width: 40%;
}
.start h5{
  font-size: 35px;
  margin-bottom: 40px;
}
.start p{
 line-height: 25px;
 font-size: 20px;
}
.start a{
 display: inline-block;
 margin: 40px 0;
}
.foto img{
  height: 400px;
  width: auto;
  margin-bottom: 40px;
}
/* /BOTTOM */
/* FOOTER */
footer{

  background-color: #2D3E50;
  text-transform: capitalize;
  color: #cbd6e2;
}
#smaller{
  font-size: 15px;
}
.footer .top{
  background-color: White;
}
.lista {
  color: #cbd6e2;
  margin-top: 40px;
  width: 25%;
}
.lista ul li{
  padding: 5px 0;
}
.lista ul li:first-child{
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
}
.lista ul a{
  display: inline-block;
  margin: 10px 0;
}
.social li{
  display: inline-block;
}
.footer-bottom{
  padding-top: 40px;
  padding-bottom: 60px;
}
.languages{
  text-align: center;
}
.logofoot{
  padding-bottom: 15px;
}
.languages li{
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 20px;
}
.privacy{
  text-align: right;
}
.privacy li{
  display: inline;
}

/* /FOOTER */
