/* default */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
/* CENTRATURA DIV */
.centro{
  width: 80%;
  margin: 0 auto;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clearfix::after{
  display: table;
  clear: both;
  content:""
}
/* REGOLE CONTAINER PREIMPO */
/* .ico{
 #f7a2
} */
header{
width: 100%;
}
.nav{
  padding: 25px 0;
}

ul{
  list-style: none;
}
ul li{
  display: inline;
}
.btn{
  text-decoration: none;
  border-radius: 5px;
  padding: 20px 30px;
}
.btn-orange{
 background-color: #ff7a59;
 color: white;
}
.btn-white{
color: #ff7a59;
background-color: white;
}
.btn-medium{
 padding: 10px;
}
.btn-large{
 padding: 20px;
}
.jumbotron{
  background-image: url('../img/jumbotron.png');
  height: 670px;
  width: 100%;
  position: relative;
  background-position: right;top:
}
.jumbotron-testo{
  width: 500px;
  padding-top:  40px;
  margin-left: 10%;
}
h1{
  color: #33475b;
  font-size: 50px;

}
p{
  margin-bottom: 40px;
  margin-top:40px;
  line-height: 22px;
}
/* SISTEMARE MARGINI IN MODO PIU PRECISOù */

.bar{
  height: 72px;
  width: 100%;
  background-color: #afebe4;
  border-top: 4px solid #273a51;
  border-bottom: 4px solid #273a51;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
