/* default */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
.body{
  font-size:
}
/* CENTRATURA DIV */
.centro{
  width: 80%;
  margin: 0 auto;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clearfix::after{
  display: table;
  clear: both;
  content:""
}
.shadow{
  box-shadow: inset  2px 2px 2px grey;
}
/* REGOLE CONTAINER PREIMPO */
/* .ico{
 #f7a2
} */
header{
width: 100%;
background-color: #f5f8fa;
}

/* WARNING .header .inf .centro{
  line-height: 80px;
  height: 80px;
  position: sticky;
  z-index: 1;
  top: 0px;
  border-color: #fff;
} */
/* da verificare */
.bianco{
  background-color: white;
}
.nav{
  padding: 25px 0;
}
#lente{
  color: lightblue;
}
#eng{
border-right: 2px solid black;
padding-right: 20px;
}
.dx{
 margin-left: 20px;
}
ul{
  list-style: none;
}
.nav.dx ul li{
  display: inline;
}
li{
  font-size: 18px;
  margin: 0px 10px;
}
/* selettori btn */
.btn{
  text-decoration: none;
  border-radius: 5px;
  /* padding-right:20px; DA FIXARE */
  color: #394c60
}
.btn-orange{
 background-color: #ff7a59;
 color: white;
}
.btn-white{
color: #ff7a59;
border: 1px solid #ff7a59;
}
.btn-medium{
 padding: 10px;
}
.btn-large{
 padding: 20px;
}
.btn-grey{
  color: #394c60;
}
.btn-learn{
 color: white;
 background-color: #ff7a59;
 padding: 20px 40px;
}
.jumbotron{
  background-image: url('../img/jumbotron.png');
  height: 670px;
  width: 100%;
  position: relative;
  background-position: right;top:
}
.jumbotron-testo{
  width: 500px;
  margin-left: 10%;
}
/* z WARNING */
.jumbotron-testo > *{
  margin-bottom: 25px;
}
h1{
  padding-top: 50px;
  color: #33475b;
  font-size: 50px;
}
.jumbotron .jumbotron-testo span{
  display: inline-block;
}
/* WARNING SISTEMARE MARGINI IN MODO PIU PRECISOù */
.bar{
  height: 72px;
  width: 100%;
  background-color: #afebe4;
  border-top: 4px solid #273a51;
  border-bottom: 4px solid #273a51;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.top{
  background-color: #f5f8fa;
  height: 2000px;
}
.powerful{
margin: 0 auto;
width: 50%;
padding-top: 50px;
}
.cubo{
  height: 250px;
  width: auto;
  transform: translate(+55% , -0%);
}
h2{
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.cubo p{
  text-transform: full-width;
}
/* .shadow SFUMATURA DIV */
.CRM{
  height: 350px;
  margin-top: 50px;
  background-color: white;
}
.box{
  padding: 60px 0px;
}
.box.sx{
  width: 10%;
  height: 350px;
  margin: 0% 10%;
}
.box.sx span{
  margin-top: 20px;
}
.box.dx{
  width: 55%;
  height: 350px;
}
.box.dx ul li{
  margin-left:  0px;
  padding-right: 20px;
}
.check{
  color: #ff7a59;
  padding-right: 20px;
}
h3{
margin-bottom: 30px;
}
h4{
margin: 20px 0px;
text-transform: uppercase;
}
.libro{
  height: 100px;
  width: auto;
}
/* WARNING IMPORTANTE WARNING */
/* rimango sulla riga no spazio - cambio riga spazio */
.box.dx a{
 text-align: center;
}
.HUB{
  margin-top: 40px;
}
.mark{
  width: 30%;
  text-align: center;
  background-color: white;
}
#cc{
  margin: 0px 5%;
}
.inside{
  background-color: white;
  height: 700px;
  margin: 20px 20px;
}
.inside img{
  height: 100px;
  width: auto;
}
.inside h3{
  margin-top: 20px;
}
.inside hr{
  margin-top: 50px;
  height: 3px;
  background-color: grey;
}
.inside h4{
  margin: 35px 0px;
}
.inside ul li {
  text-align: left;
}
.inside ul li:last-child{
  margin-bottom: 60px;
}
.inside p{
  line-height: 25px;
}
