/* default */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
/* CENTRATURA DIV */
.centro{
  width: 80%;
  margin: 0 auto;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clearfix::after{
  display: table;
  clear: both;
  content:""
}
/* REGOLE CONTAINER PREIMPO */

/* .ico{
 #f7a2
} */

header{

width: 100%;

}

.header{
  background-color: grey;
  height: 100px;
}

.nav{
  padding-top: 30px;
}
.nav .dx{
}
ul{
  list-style: none;
}
ul li{
  display: inline;
}
.btn{
  text-decoration: none;
  border-radius: 5px;
  padding: 20px 30px;
}
.btn-orange{
 background-color: orange;
 color: white;
}
.btn-white{
color: orange;
background-color: white;
}
.btn-medium{
 padding: 10px;
}
.btn-large{
 padding: 20px;
}
.jumbotron{
  background-image: url('../img/jumbotron.png');
  height: 700px;
  width: 100%;
}
.jumbotron-testo{
  background-color: lightblue;
  height: 200px;
  margin: 0 auto;
  padding-top:  30px;
}
